body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 25px;
    border: none;
    background-color: #f0f0f0;
    text-align: left;
    font-size: 2em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}