* {
    margin: auto;
    margin-left: 20px;
}

.main {
    display: flex
}

.head {
    display: flex;
    justify-content: left;
    margin: auto;
    width: 90%;
    height: 80px;
    border-radius: 10px;
    box-shadow: rgb(249, 247, 247) 1px 3px 0px;
}

.paragraph {
    color: grey;
    padding-top: 20px;
    line-height: 1.5;
}

.rocks1 {
    padding: auto;
    margin: auto;
}

.rocks2 {
    display: flex;
    height: 100%;
    width: 50%;
}

h1 {
    background-color: rgb(139, 46, 247);
    background: linear-gradient(90deg, rgb(195, 79, 230)rgb(70, 119, 229));
    height: 50%;
    width: 150px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: Impact, ;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;

}

h2+p {
    color: grey;
    padding-top: 20px;
    line-height: 1.7;
}

h5 {
    color: rgb(20, 110, 214);
    font-family: Georgia, 'Times New Roman', Times, serif;

}

ul>li {
    display: inline-block;
    padding: 15px;
    height: 1px;
    width:5%;
}
ul{
    margin-right: -60px;
}

div>img {
    width: 150px;
}